:root {
  --blue-color: #0069ee;
  --lightblue-color: #59caff;
  --yellow-color: #f6f285;
  --white-color: #fff;
  --red-color: rgba(204, 106, 54, 0.7);
  --pink-color: #ff4d73;
  --main-font: "Underdog", cursive;
}

html,
body * {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    #0071ff,
    #0097ff,
    #00b5ff,
    #00cffe,
    #00e5ef,
    #31efe1,
    #5df8cf,
    #87ffba,
    #aaffae,
    #c8ffa5,
    #e4ffa0,
    #fdffa0
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  min-height: 75%;
  width: 60%;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 1rem 3rem var(--red-color);
  background-image: url(../img/parchment.jpg); //this isn't working??
  background-size: 100% 100%;
  padding: 5rem;
}
h1,
.next,
.button {
  font-family: var(--main-font);
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 2.5rem;
  text-align: left;
  line-height: 150%;
}
.button-box {
  display: grid;
  grid-template-columns: 1fr 1fr; //two equal columns
  gap: 1.5rem;
  bottom: 7rem;
  width: 100%;
  margin-top: 6rem;
}
.button {
  top: 60%;
  min-height: 9rem;
  border-radius: 3rem;
  border: 0.5rem solid var(--yellow-color);
  background-color: #0069ee;
  font-size: 2.25rem;
  color: #fff;
  transition: 0.2s all;
}
.button:hover {
  box-shadow: 0 1rem 3rem var(--yellow-color);
  transform: translateY(-0.5rem);
}
.button:focus {
  border: 0.5rem solid var(--lightblue-color);
}
.button:focus:hover {
  box-shadow: 0 1rem 3rem var(--lightblue-color);
}
.button:focus, .next:focus {
  outline: none;
}
.next {
  font-size: 2.25rem;
  background-color: var(--pink-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 3rem;
  transition: 0.2s all;
  border: 0.4rem solid var(--white-color);
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-left: 37%;
  margin-right: 37%;
  transition: 0.2s all;
}
.next:hover {
  background-color: var(--white-color);
  color: var(--pink-color);
  border: 0.4rem solid var(--pink-color);
  font-weight: 900;
}
/*
form label span {
  display: block;
  //box-sizing: border-box;
  padding: 1.4rem 1.2rem;
  border: 0.5rem solid var(--yellow-color);
  cursor: pointer;
  border-radius: 3rem;
}
form label:hover span, form label:focus span {
  border: 0.5rem solid var(--yellow-color);
  background-color: var(--blue-color);
  color: var(--white-color);
}
form input[type=radio] {
  visibility: hidden;
}
form input[type=radio]:checked + span {
  border: 0.5rem solid var(--yellow-color);
  background-color: var(--blue-color);
  color: var(--white-color);
}*/
